* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fefefc;
}

.top-bar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.right-icons input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-image: url('shoe2.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* dark transparent overlay */
  padding: 40px;
  border-radius: 20px;
  width: 50%;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  color: #eee;
}

.product-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 300px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.sale-badge {
  background: #2196f3;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
  margin: 10px 0 5px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 5px;
}

.add-cart-btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.add-cart-btn:hover {
  background: #0056b3;
}
.cart-price {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}