.all-products-container {
  padding: 1rem;
}

.products-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sidebar {
  flex: 1;
  min-width: 200px;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
}

.products-section {
  flex: 3;
  min-width: 300px;
}


.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .products-layout {
    flex-direction: column;
  }

  .products-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}